
.titre {
    font-weight: bolder;
}

.country-img {
    height: 65px;
    border-radius: 20%;
}
.country-name, .category-name, .article-name {
    font-weight: bolder;
}
.category-img {
    height: 250px;
    border-radius: 3%;
}
.prop-img {
    height: 400px;
    width: auto;
    border-radius: 2%;
}
.article-img {
    height: 350px;
    width: auto;
    border-radius: 2%;
}